<template>
  <div>
    <el-row :gutter="3">
      <el-col :span="16" :offset="4">
      <h3>Development</h3>
      <p>The todo project is developed using `Vue.js + Vuex + Vue Router` as basic structure.
        Element UI components are used for the app development. <br/>
        A live demo of the app can be accessed at <a href="http://todo-app-shawn.herokuapp.com/">
        Live Demo</a>
          </p>
      <p>Compiles and hot-reloads for development</p>
      <el-card class="box-card">
        <div class="clearfix">
          <span>$ npm start</span>
        </div>
      </el-card>
      </el-col>
    </el-row>

    <el-row :gutter="3">
      <el-col :span="16" :offset="4">
      <h3>Backend</h3>
      <p>The google Firestore is used as backend to storage the todo tasks. <br/>
        As the Firestore SDK uses <a href="https://grpc.io/">gRPC</a> to communicate with the server,
        the "Axios" is demonstrate by a "Page View Counter" element here. It get the page view
         counts through a Express server` connecting to Firestore.</p>
        <PageViewCounter />
        <p>The Express server scripts can be found at /server folder.</p>
      </el-col>
    </el-row>

    <el-row :gutter="3">
      <el-col :span="16" :offset="4">
      <h3>Unit Test</h3>
      <p>Vue-test-utils with Jest is used for the Unit Testing.
        To demonstrate, testing has been written for component TaskLiteItem and vuex Store.
        To run unit test:</p>
      <el-card class="box-card">
        <div class="clearfix">
          <span>$ npm run test:unit</span>
        </div>
      </el-card>
      </el-col>
    </el-row>

    <div class ="narrow-row">
    <el-row :gutter="3">
      <el-col :span="16" :offset="4">
      <h3>Directory Structure</h3>
        <h4>main.js</h4>
        <p>This file will load the to-do application. It is the entry point of the app.</p>

        <h4>src/App.vue</h4>
        <p>The main Vue file. This file will load the page inside the "router-view" component.</p>

        <h4>components/</h4>
        <p>Vue components built for this projects.</p>

        <h4>pages</h4>
        <p>Vue components that function as pages. The pages are used for router.</p>

        <h4>Service/</h4>
        <p>Firestore and Express server connectors to perform AJAX-requests. Also include
         the promise instance exports to use by other components.</p>

        <h4>router.js/</h4>
        <p>VueRouter routes.</p>

        <h4>store/</h4>
        <p>Vuex store which includes the Vuex elements.
        - actions<br/>
        - getters<br/>
        - mutations<br/>
        - mutation-types<br/>
        - state<br/></p>

        <h4>server/</h4>
        <p>This project comes with a mock api server implemented with
          <a href="https://expressjs.com/">Express</a> .The server scripts is located in this folder.</p>
      </el-col>
    </el-row>
    </div>
  </div>
</template>

<script>
import PageViewCounter from '@/components/PageViewCounter.vue';

export default {
  name: 'About',
  components: {
    PageViewCounter,
  },
};
</script>

<style>
.narrow-row p{
  margin-top: 5px;
}
.narrow-row h4{
  margin-bottom: 5px;
}
</style>
