<template>
  <div>
    <task-creator/>
    <task-list/>
  </div>
</template>

<script>
import TaskCreator from '@/components/TaskCreator.vue';
import TaskList from '@/components/TaskList.vue';

export default {
  name: 'home',


  components: {
    TaskCreator,
    TaskList,
  },
};
</script>
