<template>
    <el-tag v-loading="loading">{{count}} Page Views</el-tag>
</template>

<script>
import getPageViewCounter from '@/service/express-api';

export default {
  name: 'page-view-counter',
  data() {
    return {
      count: 0,
      loading: false,
    };
  },
  mounted() {
    this.loading = true;
    getPageViewCounter()
      .then((count) => {
        this.count = count;
        this.loading = false;
      });
  },
};
</script>

