<template>
  <div class="task-container">

  <el-row :gutter="10">
    <el-col :span="16" :offset="4">
      <el-card class="box-card">
      <div slot="header" class="clearfix">
        <span>Pending Tasks:</span>
      </div>
        <ul class = "task-list">
        <li v-if="pendingTasks.length == 0"
          class = "no-task-alert">No pending task, Add some new todos! </li>
        <li v-for="task in pendingTasks" :key=task.id>
          <TaskListItem :todo='task'/>
        </li>
        </ul>
      </el-card>
    </el-col>
  </el-row>

  <el-row :gutter="10" v-if="completedTasks.length !== 0">
    <el-col :span="16" :offset="4">
      <el-card class="box-card">
      <div slot="header" class="clearfix">
        <span>Completed Task:</span>
      </div>
        <ul class = "task-list">
        <li v-for="task in completedTasks" :key=task.id>
          <TaskListItem :todo='task'/>
        </li>
        </ul>
      </el-card>
    </el-col>
  </el-row>

  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import TaskListItem from './TaskListItem.vue';

export default {
  name: 'task-list',

  components: {
    TaskListItem,
  },

  computed: mapGetters({
    pendingTasks: 'pendingTasks',
    completedTasks: 'completedTasks',
  }),

};
</script>

<style>
.task-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.el-row{
  margin-top:10px;
}

.el-card__body{
  padding: 10px;
}

.no-task-alert{
  color: #C0C4CC;
}

</style>
