<template>
    <div class = "todo-item">
      <el-checkbox v-model="completed" class="todo-toggle"></el-checkbox>
      <div :class="{completed: todo.completed, 'todo-task': true}"> {{todo.task}}</div>
      <el-button type="danger" icon="el-icon-delete" circle size="mini"
        class="delete-button" @click="removeTask()"></el-button>
    </div>
</template>

<script>
export default {
  name: 'task-list-item',
  props: ['todo'],
  data() {
    return {
      loading: false,
    };
  },
  methods: {
    removeTask() {
      const taskItem = {
        id: this.todo.id,
        task: this.todo.task,
        completed: this.todo.completed,
      };
      this.$store.dispatch({
        type: 'removeTask',
        taskItem,
      });
    },
  },

  computed: {
    completed: {
      get() {
        return this.$store.getters.getTaskById(this.todo.id).completed;
      },
      set() {
        this.$store.dispatch('toggleItem', this.$store.getters.getTaskById(this.todo.id));
      },
    },
  },

};
</script>

<style>
.todo-item{
  border:1px #DCDFE6 solid;
  padding: 5px 10px;
  margin-top: -1px;
  height:30px;
  position: relative;
}
.todo-task{
  position:absolute;
  font-size:16px;
  padding: 6px 0px 6px 0px;
  margin-left:20px;
  width:85%;
  height:15px;
  overflow:hidden;
}
.todo-toggle{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.delete-button{
  float:right;
}

.completed {
  text-decoration: line-through;
}
</style>

