<template>
  <el-row :gutter="3">
    <el-col :span="13" :offset="4">
      <div class="grid-content">
          <el-input placeholder="Add New To-dos!" v-model="input"></el-input>
      </div>
    </el-col>
    <el-col :span="3">
      <div class="grid-content">
          <el-button type="primary" class="add-button" @click="addTask()">Add</el-button>
      </div>
    </el-col>
  </el-row>
</template>

<script>
const uuidv4 = require('uuid/v4');

export default {
  name: 'task-creator',
  data() {
    return {
      input: '',
    };
  },
  methods: {
    addTask() {
      const taskItem = {
        id: uuidv4(),
        task: this.input,
        completed: false,
      };
      this.$store.dispatch({
        type: 'addTask',
        taskItem,
      });
      this.input = '';
    },
  },

};
</script>

<style>
.add-button {
  width:100%;
}
</style>

