<template>
  <el-container v-loading.fullscreen.lock="loading">
    <el-alert
      title="error alert"
      type="error"
      show-icon
      v-if="reload">  Error Sync with Server. Please Refresh Page!</el-alert>
    <el-header id="nav">
      <el-menu :default-active="$route.path" class="el-menu-demo"
        mode="horizontal" router>
        <el-menu-item index="/">Home</el-menu-item>
        <el-menu-item index="/about">About</el-menu-item>
      </el-menu>
    </el-header>

    <el-main>
      <router-view/>
    </el-main>
  </el-container>
</template>


<script>
export default {
  name: 'app',
  data() {
    return {
      loading: true,
    };
  },
  mounted() {
    this.loading = true;
    this.$store.dispatch({
      type: 'allTask',
    })
      .then(() => {
        this.loading = false;
      });
  },
  computed: {
    reload() {
      return this.$store.state.reload;
    },
  },
};
</script>

<style>
.el-container{
  font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB",Arial,sans-serif;
}
.el-alert__content{
  font-size: 13px;
}
</style>
